.main-footer{
    display: flex;
    width: 100%;
    background-color: #333;
    color: white;
    .left{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // background-color: lightcoral;
        width: 50%;
        padding: 1rem;
        .icons{
            display: flex;
            align-items: center;
            // background-color: blue;
            width: 80%;
            overflow: hidden;
            
            height: 20%;
            justify-content: flex-start;
            gap: 1rem;
            .btn-wrapper{
                display: flex;
                align-items: center;
                height: 100%;
                max-width: 15%;
                cursor: pointer;
                .btn-content{
                    height: 100%;
                    width: 100%;
                    img{
                        width: 90%;
                        height: 90%;
                        object-fit: contain;
                    }
                }
            }
        }
        .text-container{
            display: flex;
            flex-direction: column;
            // background-color: red;
            width: 100%;
            flex-wrap: wrap;
            align-items: flex-end;
            p{
                width: 80%;
                flex-wrap: wrap;
            }
        }
   
    }
    .right{
        width: 50%;
        // background-color: lightgreen;
        padding: 2rem;
        div{
            width: 100%;
            height: 100%;
            .map{
                height: 100%;
                width: 100%;
                .ymaps-2-1-79-map{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    @media (max-width: 750px) {
        flex-direction: column;
        .left{
            width: 100%;
            .icons{
                width: 100%;
                justify-content: center;
                height: 15%;
                .btn-content{
                    img{
                        height: 80%;
                    }
                }
            }
            .text-container{
                align-items: center;
                p{
                    width: auto;
                }
            }
        }
        .right{
            width: 100%;
        }
    }
    @media (max-width: 400px) {
        flex-direction: column;
        .left{
            .text-container{
                align-items: center;
                p{
                    width: auto;
                    font-size: .8rem;
                }
            }
        }
    }
}