.main-header{
    display: flex;
    // max-height: 10rem;
    height: 10rem;
    width: 100%;
    position: relative;
    padding: .5rem;
    flex-direction: row;
    color: black;
    .hidden-contact{
        display: flex;
        flex-direction: column;
        background-color: white;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        box-sizing: border-box;
        height: 260px;
        width: 320px;
        z-index: 21;
        left: 40%;
        top: 110%;
        .notch{
            display: flex;
            background-color: rgb(0,180,30);
            justify-content: flex-end;
            button{
                background-color: transparent;
                border: none;
                cursor: pointer;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        .main{
            display: flex;
            padding: 1rem;
            background-color: white;
            color: black;
            flex-direction: column;
            button{
                margin-top: 1rem;
                background-color: rgb(0,180,30);
                cursor: pointer;
                border: none;
                padding: .8rem .8rem;
                color: white;
                
            }
            button:hover{
                background-color: rgb(4, 119, 23);
                transition: 0.3s background-color ease-in;
            }
            input{
                height: 2rem;
            }
        }
    }
    .hidden-contact.active{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease-in-out;
    }
    .hidden-price{
        opacity: 0;
        display: flex;
        z-index: 20;
        visibility: hidden;
        flex-direction: column;
        background-color: white;
        color: black;
        position: absolute;
        box-sizing: border-box;
        height: 300px;
        width: 320px;
        left: 40%;
        top: 110%;
        .notch{
            display: flex;
            justify-content: flex-end; 
            // background-color: rgb(84, 184, 84);
            background-color: rgb(0,180,30);

            button{
                background-color: transparent;
                border: none;
                cursor: pointer;
                img{
                    object-fit: contain;
                }
            }
        }
        .main{
            display: flex;
            padding: 1rem;
            flex-direction: column;
            button{
                margin-top: 1rem;
                // background-color: rgb(84, 184, 84);
                background-color: rgb(0,180,30);
                cursor: pointer;
                border: none;
                padding: .8rem .8rem;
                color: white;
            }
            button:hover{
                background-color: rgb(4, 119, 23);
                transition: 0.3s background-color ease-in;
            }
            input{
                height: 2rem;
            }
        }
    }
    .hidden-price.active{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease-in-out;
    }
    @media (max-width: 550px) {
        .hidden-price{
            left: 20%;
        }
        .hidden-contact.active{
            left: 20%;
        }
    }
    @media (max-width: 430px) {
        .hidden-price{
            left: 15%;
        }
        .hidden-contact.active{
            left: 15%;
        }
    }
    @media (max-width: 400px) {
        .hidden-price{
            left: 10%;
        }
        .hidden-contact.active{
            left: 10%;
        }
    }
    .left-section{
        display: flex;
        overflow: hidden;
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        img{
            object-fit: contain;
            height: 100%;
        }
        p{
            width: 80%;
            word-break: break-all;
            margin-left: .5rem;
        }
    }
    .right-section{
        width: 50%;
        overflow: hidden;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        button {
          cursor: pointer;
          background-color: rgb(92, 181, 92);
          border: none;
          border-radius: 5px;
          text-align: center;
          padding: 0;
          color: white;
          padding: 1rem;
        }
        button:hover{
            background-color: green;
            transition: background-color 0.5s ease-in-out;
        }
  
        button:active {
          transform: scale(0.95);
        }

        select {
            font-size: 1rem;
            padding: 0.5em 0.75em;
            border: 1px solid #ccc;
            border-radius: 0.25em;
            appearance: none;
            background-color: #fff;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="5"><path fill="%23ccc" d="M0 0l4 4 4-4z"/></svg>');
            background-repeat: no-repeat;
            background-position: right 0.5em center;
            }
            
            select:hover,
            select:focus {
            outline: none;
            // box-shadow: 0 0 0 0.1875em rgba(0, 119, 204, 0.3);
            }
            
            select option {
            font-size: 1rem;
            padding: 0.5em 0.75em;
            background-color: #fff;
            color: #333;
            }
              
    }
    @media (max-width: 900px) {
        .left-section{
            img{
                height: 85%;
            }
        }
        .right-section{
            button{
                padding: .7rem 1.7rem;
                font-size: .8rem;
                margin: .5rem
            }
        }
    }
    @media (max-width: 830px) {
        .left-section{
            img{
                height: 85%;
            }
        }
        .right-section{
            button{
                padding: 0;
                font-size: .7rem;
                font-weight: 500;
                margin: .5rem
            }
        }
    }
    @media (max-width: 700px) {
        flex-direction: column;
        width: 100%;
        gap: .5rem;
        height: 10rem;
        align-items: flex-start;
        .left-section{
            height: 70%;
            width: 100%;
        }
        .right-section{
            height: 30%;
            width: 100%;
            button{
                padding: 2rem;
            }
        }
    }
    @media (max-width: 450px) {
        .right-section{
            display: flex;
            align-items: center;
            padding: 1rem;
            button{
                padding: 1rem;
            }
            
            select{
                padding: .5rem;
                font-size: .8rem;
            }
            
        }
    }
}
