*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}
#root{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}