* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.main-section section {
  flex: 1;
}
.main-section .banner-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.main-section .banner-section .perk-list {
  display: flex;
  min-height: 30rem;
  justify-content: space-around;
}
.main-section .banner-section .perk-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
}
.main-section .banner-section .perk-list div .text {
  display: flex;
  flex-direction: column;
}
.main-section .banner-section .perk-list div .text p {
  max-width: 80%;
  flex-wrap: wrap;
}
.main-section .banner-section .perk-list div img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 40%;
}
.main-section .banner-section .calc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.main-section .banner-section .calc-link button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 1rem;
  background-color: green;
  border-radius: 4px;
  color: white;
}
@media (max-width: 800px) {
  .main-section .banner-section .perk-list {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
  }
  .main-section .banner-section .perk-list div {
    height: 10rem;
    width: 80%;
    flex-direction: row;
  }
  .main-section .banner-section .perk-list div .text {
    align-items: flex-start;
  }
  .main-section .banner-section .perk-list div .text h3 {
    margin: 0;
  }
  .main-section .banner-section .perk-list div .text p {
    width: 100%;
    margin: 0;
  }
  .main-section .banner-section .perk-list div img {
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 1rem;
  }
}
.main-section .risk-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.main-section .risk-section .top {
  display: flex;
  justify-content: center;
}
.main-section .risk-section .bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.main-section .risk-section .bottom .card {
  display: flex;
  flex-direction: column;
}
.main-section .risk-section .bottom .card .notch {
  display: flex;
  align-items: center;
}
.main-section .risk-section .bottom .card .notch img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 3rem;
}
@media (max-width: 600px) {
  .main-section .risk-section .bottom {
    grid-template-columns: 1fr;
  }
}
.main-section .review-section {
  display: flex;
  flex-direction: column;
}
.main-section .review-section .bg-image {
  background-image: url("../Images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.main-section .review-section .top {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  padding: 1rem;
}
.main-section .review-section .top h1 {
  margin-bottom: 0;
}
.main-section .review-section .bottom {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
  row-gap: 3rem;
}
.main-section .review-section .bottom .video-frame {
  height: 25rem;
}
@media (max-width: 960px) {
  .main-section .review-section .bottom .video-frame {
    height: 20rem;
  }
}
@media (max-width: 742px) {
  .main-section .review-section .bottom .video-frame {
    height: 17rem;
  }
}
@media (max-width: 600px) {
  .main-section .review-section .bottom {
    grid-template-columns: 1fr;
  }
  .main-section .review-section .bottom .video-frame {
    height: 15rem;
  }
}
.main-section .certificate-section {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.main-section .certificate-section .top {
  display: flex;
  justify-content: center;
}
.main-section .certificate-section .bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-section .certificate-section .bottom .certificate-img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .certificate-section .bottom .text-cards {
  display: flex;
  flex-direction: column;
}
.main-section .certificate-section .bottom .text-cards .card .notch {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.main-section .certificate-section .bottom .text-cards .card p {
  flex-wrap: wrap;
  max-width: 80%;
}
@media (max-width: 750px) {
  .main-section .certificate-section .bottom {
    flex-direction: column;
  }
}
.main-section .team-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.main-section .team-section .emp-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.main-section .team-section .emp-card img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .team-section .emp-card .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-section .team-section .emp-card .bottom h2 {
  margin: 0;
  flex-wrap: wrap;
}
.main-section .team-section .emp-card .bottom p {
  margin: 0;
  flex-wrap: wrap;
}
.main-section .team-section .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .team-section .top h2 {
  margin-top: 0;
  flex-wrap: wrap;
  max-width: 70%;
}
.main-section .team-section .bottom {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .main-section .team-section .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 730px) {
  .main-section .team-section .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .main-section .team-section {
    display: none;
  }
}
.main-section .portfolio-section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  background-color: lightblue;
}
.main-section .portfolio-section .bottom {
  padding: 2rem;
}
.main-section .portfolio-section .bottom .portfolio-card {
  display: flex;
  align-items: center;
  height: 40rem;
  width: 100%;
  background-color: lightcoral;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .main-image {
  height: 70%;
  background-color: red;
  width: 100%;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .main-image .swiper {
  height: 100%;
  max-width: 100%;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .main-image .swiper .swiper-wrapper {
  height: 100%;
  max-width: 100%;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .main-image .swiper .swiper-wrapper img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .sub-images {
  display: flex;
  padding: 1rem;
  height: 30%;
  width: 100%;
  background-color: blue;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .sub-images img {
  flex-grow: 1;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}/*# sourceMappingURL=Main.css.map */