@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  z-index: 22;
}

.overlay {
  height: 100%;
  width: 100%;
}

.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  bottom: 0;
  top: 0;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.main-section section {
  flex: 1;
}
.main-section .banner-section {
  display: flex;
  flex-direction: column;
  color: black;
}
.main-section .banner-section .bg-image {
  padding: 1rem;
  background-image: url("https://i.1.creatium.io/36/44/29/54bd434d94a00869d9aa38c901d125819d/2048x1217q8/fon_noviy.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.main-section .banner-section .perk-list {
  display: flex;
  min-height: 30rem;
  justify-content: space-around;
}
.main-section .banner-section .perk-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
}
.main-section .banner-section .perk-list div .text {
  display: flex;
  flex-direction: column;
}
.main-section .banner-section .perk-list div .text p {
  max-width: 80%;
  flex-wrap: wrap;
}
.main-section .banner-section .perk-list div img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 40%;
}
.main-section .banner-section .calc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.main-section .banner-section .calc-link button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 1rem;
  background-color: green;
  border-radius: 4px;
  color: white;
}
@media (max-width: 800px) {
  .main-section .banner-section .perk-list {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
  }
  .main-section .banner-section .perk-list div {
    height: 10rem;
    width: 80%;
    flex-direction: row;
  }
  .main-section .banner-section .perk-list div .text {
    align-items: flex-start;
  }
  .main-section .banner-section .perk-list div .text h3 {
    margin: 0;
  }
  .main-section .banner-section .perk-list div .text p {
    width: 100%;
    margin: 0;
  }
  .main-section .banner-section .perk-list div img {
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 1rem;
  }
}
.main-section .risk-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.main-section .risk-section .top {
  display: flex;
  justify-content: center;
}
.main-section .risk-section .bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.main-section .risk-section .bottom .card {
  display: flex;
  flex-direction: column;
}
.main-section .risk-section .bottom .card .notch {
  display: flex;
  align-items: center;
}
.main-section .risk-section .bottom .card .notch img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 3rem;
}
@media (max-width: 600px) {
  .main-section .risk-section .bottom {
    grid-template-columns: 1fr;
  }
}
.main-section .review-section {
  display: flex;
  flex-direction: column;
}
.main-section .review-section .bg-image {
  background-image: linear-gradient(46deg, rgba(255, 166, 0, 0.236), rgb(45, 44, 42)), url("../Images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.main-section .review-section .top {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  padding: 1rem;
}
.main-section .review-section .top h1 {
  margin-bottom: 0;
}
.main-section .review-section .bottom {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
  row-gap: 3rem;
}
.main-section .review-section .bottom .video-frame {
  height: 25rem;
}
@media (max-width: 960px) {
  .main-section .review-section .bottom .video-frame {
    height: 20rem;
  }
}
@media (max-width: 742px) {
  .main-section .review-section .bottom .video-frame {
    height: 17rem;
  }
}
@media (max-width: 600px) {
  .main-section .review-section .bottom {
    grid-template-columns: 1fr;
  }
  .main-section .review-section .bottom .video-frame {
    height: 15rem;
  }
}
.main-section .certificate-section {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.main-section .certificate-section .top {
  display: flex;
  justify-content: center;
}
.main-section .certificate-section .bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-section .certificate-section .bottom .certificate-img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .certificate-section .bottom .text-cards {
  display: flex;
  flex-direction: column;
}
.main-section .certificate-section .bottom .text-cards .card .notch {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.main-section .certificate-section .bottom .text-cards .card p {
  flex-wrap: wrap;
  max-width: 80%;
}
@media (max-width: 750px) {
  .main-section .certificate-section .bottom {
    flex-direction: column;
  }
}
.main-section .team-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.main-section .team-section .emp-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.main-section .team-section .emp-card img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .team-section .emp-card .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-section .team-section .emp-card .bottom h2 {
  margin: 0;
  flex-wrap: wrap;
}
.main-section .team-section .emp-card .bottom p {
  margin: 0;
  flex-wrap: wrap;
}
.main-section .team-section .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .team-section .top h2 {
  margin-top: 0;
  flex-wrap: wrap;
  max-width: 70%;
}
.main-section .team-section .bottom {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .main-section .team-section .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 730px) {
  .main-section .team-section .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .main-section .team-section {
    display: none;
  }
}
.main-section .portfolio-section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
}
.main-section .portfolio-section .top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .portfolio-section .bottom {
  padding: 1rem;
}
.main-section .portfolio-section .bottom .portfolio-card {
  display: flex;
  align-items: center;
  height: 40rem;
  width: 100%;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .main-image {
  height: 70%;
  width: 100%;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .main-image .swiper {
  height: 100%;
  max-width: 100%;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .main-image .swiper .swiper-wrapper {
  height: 100%;
  max-width: 100%;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .main-image .swiper .swiper-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .sub-images {
  display: flex;
  padding: 1rem;
  height: 30%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  gap: 0.5rem;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .sub-images div {
  display: flex;
  flex: 1 1 auto;
}
.main-section .portfolio-section .bottom .portfolio-card .image-container .sub-images div img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 1rem;
  width: 50%;
  justify-content: center;
  gap: 0.5rem;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .texts {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  overflow-wrap: break-word;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .texts h1 {
  margin: 0;
  height: 20%;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .texts p {
  margin: 0;
  flex-wrap: wrap;
  word-break: break-all;
  overflow: hidden;
  max-height: 80%;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .space {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .space p {
  font-weight: 700;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .space img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 50%;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .price {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .price p {
  font-weight: 700;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .price img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 50%;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .btn-div {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .btn-div button {
  padding: 1rem;
  cursor: pointer;
  background-color: yellow;
  border: none;
  color: black;
}
.main-section .portfolio-section .bottom .portfolio-card .text-container .btn-div button:hover {
  opacity: 0.9;
}
@media (max-width: 1285px) {
  .main-section .portfolio-section .bottom .portfolio-card {
    height: 35rem;
  }
}
@media (max-width: 1000px) {
  .main-section .portfolio-section .bottom .portfolio-card {
    height: 30rem;
  }
}
@media (max-width: 900px) {
  .main-section .portfolio-section .bottom .portfolio-card {
    height: 25rem;
  }
}
@media (max-width: 800px) {
  .main-section .portfolio-section .bottom .portfolio-card {
    flex-direction: column;
    height: 40rem;
  }
  .main-section .portfolio-section .bottom .portfolio-card .image-container {
    width: 100%;
    height: 60%;
  }
  .main-section .portfolio-section .bottom .portfolio-card .image-container .main-image {
    height: 100%;
    width: 100%;
  }
  .main-section .portfolio-section .bottom .portfolio-card .image-container .main-image .swiper {
    min-height: 100%;
  }
  .main-section .portfolio-section .bottom .portfolio-card .image-container .main-image .swiper .swiper-wrapper {
    min-height: 100%;
  }
  .main-section .portfolio-section .bottom .portfolio-card .image-container .main-image .swiper .swiper-wrapper img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-section .portfolio-section .bottom .portfolio-card .image-container .sub-images {
    display: none;
  }
  .main-section .portfolio-section .bottom .portfolio-card .text-container {
    height: 40%;
    width: 100%;
    gap: 0.5rem;
    padding: 0;
    padding-top: 1rem;
  }
  .main-section .portfolio-section .bottom .portfolio-card .text-container p {
    font-size: 0.7rem;
  }
  .main-section .portfolio-section .bottom .portfolio-card .text-container h1 {
    font-size: 1rem;
  }
  .main-section .portfolio-section .bottom .portfolio-card .text-container .btn-div button {
    padding: 0.5rem;
  }
}
@media (max-width: 500px) {
  .main-section .portfolio-section .bottom .portfolio-card {
    height: 40rem;
  }
}
.main-section .calc-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-section .calc-section .top {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-section .calc-section .top h1 {
  font-size: 2rem;
}
@media (max-width: 600px) {
  .main-section .calc-section .top h1 {
    font-size: 1.2rem;
  }
}
.main-section .calc-section .bottom {
  display: flex;
  justify-content: center;
}
.main-section .calc-section .bottom .container {
  display: flex;
  width: 45%;
  flex-direction: column;
  padding: 2rem;
}
.main-section .calc-section .bottom .container .input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .calc-section .bottom .container .check-boxes {
  display: flex;
  justify-content: space-between;
}
.main-section .calc-section .bottom .container .check-boxes .condition {
  display: flex;
  flex-direction: column;
}
.main-section .calc-section .bottom .container .check-boxes .condition .radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
}
.main-section .calc-section .bottom .container .check-boxes .condition .radio-container input[type=radio] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.main-section .calc-section .bottom .container .check-boxes .condition .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e9e9e9;
  border-radius: 50%;
}
.main-section .calc-section .bottom .container .check-boxes .condition .radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.main-section .calc-section .bottom .container .check-boxes .condition .radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.main-section .calc-section .bottom .container .check-boxes .condition .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.main-section .calc-section .bottom .container .check-boxes .condition .radio-container input:checked ~ .checkmark:after {
  display: block;
}
.main-section .calc-section .bottom .container .check-boxes .condition .radio-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
.main-section .calc-section .bottom .container .check-boxes .type {
  display: flex;
  flex-direction: column;
}
.main-section .calc-section .bottom .container .check-boxes .type .radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
}
.main-section .calc-section .bottom .container .check-boxes .type .radio-container input[type=radio] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.main-section .calc-section .bottom .container .check-boxes .type .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e9e9e9;
  border-radius: 50%;
}
.main-section .calc-section .bottom .container .check-boxes .type .radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.main-section .calc-section .bottom .container .check-boxes .type .radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.main-section .calc-section .bottom .container .check-boxes .type .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.main-section .calc-section .bottom .container .check-boxes .type .radio-container input:checked ~ .checkmark:after {
  display: block;
}
.main-section .calc-section .bottom .container .check-boxes .type .radio-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
.main-section .calc-section .bottom .container .total-output {
  display: flex;
  justify-content: space-between;
}
.main-section .calc-section .bottom .container .total-output .box {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.main-section .calc-section .bottom .container .total-output .box .name {
  display: flex;
  color: white;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.main-section .calc-section .bottom .container .total-output .box .price {
  display: flex;
  background-color: white;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.main-section .calc-section .bottom .container .total-output .box.standard .name {
  background-color: rgb(0, 198, 27);
}
.main-section .calc-section .bottom .container .total-output .box.comfort .name {
  background-color: rgb(0, 167, 22);
}
.main-section .calc-section .bottom .container .total-output .box.premium .name {
  background-color: rgb(12, 137, 0);
}
.main-section .calc-section .bottom .container .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.main-section .calc-section .bottom .container .buttons button {
  cursor: pointer;
  padding: 2rem 1.8rem 2rem 1.8rem;
  background-color: rgb(255, 239, 6);
  box-shadow: 0px 4px 10px 0px rgba(255, 217, 22, 0.5);
  border: none;
  outline: none;
  color: black;
}
@media (max-width: 1070px) {
  .main-section .calc-section .bottom .container {
    width: 55%;
  }
}
@media (max-width: 900px) {
  .main-section .calc-section .bottom .container {
    width: 65%;
  }
}
@media (max-width: 800px) {
  .main-section .calc-section .bottom .container {
    width: 75%;
  }
}
@media (max-width: 750px) {
  .main-section .calc-section .bottom .container .check-boxes {
    flex-direction: column;
  }
  .main-section .calc-section .bottom .container .total-output {
    flex-direction: column;
    gap: 0.5rem;
  }
  .main-section .calc-section .bottom .container .total-output .box {
    width: 100%;
  }
  .main-section .calc-section .bottom .container .buttons {
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (max-width: 650px) {
  .main-section .calc-section .bottom .container {
    width: 90%;
  }
}
.main-section .excursion-section {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
}
.main-section .excursion-section .hidden-window {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 40%;
  background-color: lightblue;
  z-index: 20;
}
.main-section .excursion-section .hidden-window .notch {
  display: flex;
  width: 100%;
  height: 20%;
  padding-left: 10%;
}
.main-section .excursion-section .hidden-window .notch .text {
  display: flex;
  width: 88%;
  justify-content: center;
  align-items: center;
}
.main-section .excursion-section .hidden-window .notch .close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
}
.main-section .excursion-section .hidden-window .notch .close-btn button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.main-section .excursion-section .hidden-window .notch .close-btn button img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .excursion-section .hidden-window .form {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
  background-color: lightcoral;
  align-items: center;
  justify-content: center;
}
.main-section .excursion-section .hidden-window .form .inputs {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 0.5rem;
}
.main-section .excursion-section .hidden-window .form .inputs button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  color: white;
  background-color: rgb(0, 198, 27);
}
.main-section .excursion-section .hidden-window .form .inputs .form-group p {
  margin: 0.4rem;
}
.main-section .excursion-section .hidden-window .form .inputs .form-group input {
  outline: none;
  border: gray 1px solid;
  width: 100%;
  height: 50%;
}
@media (max-width: 1000px) {
  .main-section .excursion-section .hidden-window {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .main-section .excursion-section .hidden-window {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .main-section .excursion-section .hidden-window {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .main-section .excursion-section .hidden-window {
    width: 80%;
  }
  .main-section .excursion-section .hidden-window .notch .close-btn button {
    height: 70%;
  }
  .main-section .excursion-section .hidden-window .form .inputs {
    width: 80%;
  }
}
.main-section .excursion-section .hidden-window.active {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}
.main-section .excursion-section .wrapper {
  height: 100%;
  width: 100%;
  background-image: url("https://i.1.creatium.io/72/59/77/01959c57b8d52830c01aec28c8777dd1c3/vse.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.main-section .excursion-section .padding {
  padding-top: 35rem;
}
.main-section .excursion-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.main-section .excursion-section .content h2 {
  font-size: 2.2rem;
  margin-bottom: 0;
}
.main-section .excursion-section .content h3 {
  font-size: 1rem;
}
.main-section .excursion-section .content .btn-container button {
  padding: 1.5rem;
  color: black;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 239, 6);
  box-shadow: 0px 4px 10px 0px rgba(255, 217, 22, 0.5);
}

.main-calc-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main-calc-section section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main-calc-section section .calculator {
  display: flex;
  flex-direction: column;
  background-color: rgb(227, 227, 227);
  border-radius: 1rem;
  width: 80%;
  padding: 1rem;
  margin-bottom: 2rem;
}
.main-calc-section section .calculator .option.one {
  display: flex;
  flex-direction: column;
}
.main-calc-section section .calculator .option.one div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-calc-section section .calculator .option.one div input {
  outline: none;
  width: 100%;
  padding-left: 0.5rem;
  height: 2rem;
  border: none;
  border-bottom: 2px black solid;
}
.main-calc-section section .calculator .option.two, .main-calc-section section .calculator .option.three {
  display: flex;
  flex-direction: column;
}
.main-calc-section section .calculator .option.two .radio-container, .main-calc-section section .calculator .option.three .radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
}
.main-calc-section section .calculator .option.two .radio-container input[type=radio], .main-calc-section section .calculator .option.three .radio-container input[type=radio] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.main-calc-section section .calculator .option.two .checkmark, .main-calc-section section .calculator .option.three .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(131, 186, 131);
  border-radius: 50%;
}
.main-calc-section section .calculator .option.two .radio-container:hover input ~ .checkmark, .main-calc-section section .calculator .option.three .radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.main-calc-section section .calculator .option.two .radio-container input:checked ~ .checkmark, .main-calc-section section .calculator .option.three .radio-container input:checked ~ .checkmark {
  background-color: green;
}
.main-calc-section section .calculator .option.two .checkmark:after, .main-calc-section section .calculator .option.three .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.main-calc-section section .calculator .option.two .radio-container input:checked ~ .checkmark:after, .main-calc-section section .calculator .option.three .radio-container input:checked ~ .checkmark:after {
  display: block;
}
.main-calc-section section .calculator .option.two .radio-container .checkmark:after, .main-calc-section section .calculator .option.three .radio-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
.main-calc-section section .calculator .option.four.five {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.main-calc-section section .calculator .option.four.five .four, .main-calc-section section .calculator .option.four.five .five {
  width: 20%;
  /* Add custom arrow icon */
  /* Style when the select element is focused */
}
.main-calc-section section .calculator .option.four.five .four select, .main-calc-section section .calculator .option.four.five .five select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #555;
  width: 100%;
  cursor: pointer;
}
.main-calc-section section .calculator .option.four.five .four select::after, .main-calc-section section .calculator .option.four.five .five select::after {
  content: "▼"; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: #555;
  pointer-events: none;
}
.main-calc-section section .calculator .option.four.five .four select:focus, .main-calc-section section .calculator .option.four.five .five select:focus {
  outline: none;
  border-color: #5c9eff;
  box-shadow: 0 0 0 2px rgba(92, 158, 255, 0.25);
}
.main-calc-section section .calculator .option.six, .main-calc-section section .calculator .option.eight, .main-calc-section section .calculator .option.seven {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Create a custom checkbox */
  /* Style the checkmark */
  /* Show the checkmark when the checkbox is checked */
}
.main-calc-section section .calculator .option.six label, .main-calc-section section .calculator .option.eight label, .main-calc-section section .calculator .option.seven label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main-calc-section section .calculator .option.six input[type=checkbox], .main-calc-section section .calculator .option.eight input[type=checkbox], .main-calc-section section .calculator .option.seven input[type=checkbox] {
  display: none;
}
.main-calc-section section .calculator .option.six .checkbox, .main-calc-section section .calculator .option.eight .checkbox, .main-calc-section section .calculator .option.seven .checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.main-calc-section section .calculator .option.six .checkbox::after, .main-calc-section section .calculator .option.eight .checkbox::after, .main-calc-section section .calculator .option.seven .checkbox::after {
  content: "✓";
  font-size: 16px;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-calc-section section .calculator .option.six input[type=checkbox]:checked + .checkbox::after, .main-calc-section section .calculator .option.eight input[type=checkbox]:checked + .checkbox::after, .main-calc-section section .calculator .option.seven input[type=checkbox]:checked + .checkbox::after {
  color: #555;
}
.main-calc-section section .calculator .contact-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.main-calc-section section .calculator .contact-form button {
  cursor: pointer;
  background-color: rgb(92, 181, 92);
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: black;
  outline: none;
}
.main-calc-section section .calculator .contact-form button:hover {
  background-color: green;
  transition: background-color 0.5s ease-in-out;
}
.main-calc-section section .calculator .contact-form input {
  outline: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
@media (max-width: 900px) {
  .main-calc-section section .calculator .option.four.five {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .main-calc-section section .calculator .option.four.five .four {
    width: 80%;
  }
  .main-calc-section section .calculator .option.four.five .five {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .main-calc-section section .calculator {
    width: 90%;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}/*# sourceMappingURL=Main.css.map */